@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    -webkit-text-stroke: 1px #B3ADA8;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
body{
  background-color: #1A2C38;
}